doctype html
html(lang="eng")
    head
        link(rel='shortcut icon', href='/favicon.ico')
        block title
            title savely
    body
        h2 
            a(href='/') savely
        block content