doctype html
html(lang="eng")
    head
        link(rel='stylesheet', href='/css/skeleton.css')
        link(rel='stylesheet', href='/css/normalize.css')
        link(rel='shortcut icon', href='/favicon.ico')
        block title
            title savely
    body
        h2 savely
        block content