doctype html
html(lang="eng")
	head
		link(rel='shortcut icon', href='/favicon.ico')
		block title
			title savely
	body
		h2 
			a(href='/') savely
		if username
			span welcome, #{username}&nbsp;
			span &nbsp;
			a(href="/logout") logout
			p
			a(href="/dashboard") start saving
		else
			span please&nbsp;
			a(href="/login") login
			span &nbsp;
			a(href="/omnilogin") login with google
			span &nbsp;or&nbsp;
			a(href="/register") register
		block content